/* Whole Site specifications */
html, body {
	height: 100%;
}

hr { 
    display: block;
    margin-top:25px;
    margin-bottom:25px;;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
	color: darkgray;
} 
*{
	font-family: Century Gothic;
}

a {
	color: white;
	text-decoration: none;
}

/*Header*/
#header {
	/*the box */
	position: fixed;
	background: #2a1f2d;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 90%;
	height: 50px;
	line-height: 50px;
	
	/* Text */
	text-align: right;
	word-spacing: 20px;
	font-size: small;	
}


#logo {
	vertical-align: middle;
	left: 25px;
	float: left;
}

#header  a:visited {
	text-decoration: none;
	color: white;
}

#header  a:unvisited {
	text-decoration:none;
	color: white;
}


/* Home Page */
#home {
	position: absolute;
	top: 50px; right: 0; bottom: 0; left: 0;
	background-color: #2a1f2d;
	text-align: center;
	padding-top: 5%;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #ffcc00;
  border-top: 1px solid #ffcc00;
  top: 0;
  width: 600px;
}

.subtitle {
  margin: 0 0 2em 0;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

#home #footer {
	margin-top:10px;
}

/* Content*/
#content {
	position: absolute;
	width: 80%;
	margin-top: 60%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

/* About Page */
#about {
	width: 100%;
	display: block;
	margin: auto;
	text-align: center;
	align-content: center;
	color: #2a1f2d;
}

.circle {
	background-color: #ffcc00;
	color: azure;
	border-radius: 100%;
	height: 75px;
	width: 75px;
	top: 15px;
	bottom: 15px;
	text-align: center;
	margin: 0, 35px, 0, 35px;
}

/*Technology page */

#technology {
	text-align: center;
	color: ;
}

#technology a {
	color: aquamarine;
}

.goals {
	margin: auto;
	top: 0;
}
/*next*/
#next {
	text-align: center;
	margin: auto;
}

.nextones {
	border: 3px solid #ffcc00;
	border-radius: 20%;
	margin: 0, 15px, 0 15px;
	height: 70px;
	width: 70px;
	text-align: center;
}

/*Contact Page */
#contact {
	display: block;
	margin:auto;
	text-align:center;
	color: #3b2c35;
	font-size: 25px;
}


#submit_button {
	background-color: #ffcc00;
}